:root {
 scroll-behavior: smooth;
  --bg-color1: hsl(60, 11%, 7%);
  --bg-color2: hsl(0, 0%, 0%);
  --color: hsl(0, 0%, 100%);
  --color2: hsl(0, 0%, 60%);
  --color4: hsla(0, 0%, 60%, 0.3);
  --color3: hsl(72, 90%, 53%);
  --bg-color3: hsl(210, 8%, 10%);
}
.sidebar {
  height:100% ;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-size: 15px;
}
.sidebar img {
  margin-left: 20px;
}
.sidebar p {
  color: var(--color2);
  font-size: 17px;
  padding-left: 15px;
}
span {
  color: var(--color);
  
  font-size: 20px;
}
#bi {
    margin-top: 20px;
    margin-left: 40px;
    width: 270px;
    height: 70px;
    font-size: 25px;
}
#x{
    border: none;
    border-radius: 100%;
    text-align: center;
    background-color: var(--color3);
    width: 52px;
    height: 52px;
    margin-left: 280px;
    
    
}
.closebtn{
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

.sidebar1{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar1 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }